
body {
  background-color: #191919;
  color: white;
}

h1 {
  text-align: center;
  font-size: 3em;
  text-decoration: underline;
}

main {
  display:block;
  margin:0 auto;
  max-width: 600px;

  a {
    float: left;
    width: 100%;
    padding: 0.3em;
    margin-top: 2em;
    font-size:1.4em;
    color:orange;
  }

  a:hover,a:focus {
    color: white;
  }

  input,p,label,legend {
  	width: 100%;
  	font-size: 2.5em;
  }

  strong {
    color:#88c744;
  }

  input {
  	color:#c70945;
  }

}
footer {
  margin: 0 auto;
  max-width: 600px;

  p{
    padding: 0.3em;
    margin-top: 2em;
  }
}
.colourSwap {
  color:#c71b00;
}
